.DS_Store
.idea
.ipynb_checkpoints/
.vscode
__pycache__/
*.bin
*.pkl
*.pt
*.pyc
input.txt
train.npy
val.npy
meta.pkl

llama_finetune_sat.py
models/
temp/
figures/

model_ckpts/
wandb/
preds/
train.txt
eval_out.txt
test.txt
figures/
temp/
datasets/*/*.txt
results/
sat_solver/datasets
outputs/
result/

sat_solver/datasets
sat_solver/outputs
plot/
theory/*.txt

environment-dev.yml